name: Python checks
on:
  # Trigger the workflow on push to the main branch
  push:
    branches:
      - main
  # Trigger the workflow on pull request to the main branch
  pull_request:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - name: Set up Python 3
        uses: actions/setup-python@v6
        with:
          python-version: 3.12
      - name: Install dependencies
        run: |
          pipx install poetry && poetry install
      - name: Lint with ruff
        run: |
          # stop the build if there are Python syntax errors or undefined names
          poetry run ruff check --select=E9,F63,F7,F82
          # exit-zero treats all errors as warnings.
          poetry run ruff check --exit-zero
      - name: Check formatting with black
        uses: psf/black@stable
        with:
          src: ". tests/"
          options: "--check --verbose"
      - name: Run unit tests
        run: |
          poetry run pytest tests/
